<mat-button-toggle-group [(value)]="channel" (valueChange)="changeChannel()">
  <mat-button-toggle value="all topics">All</mat-button-toggle>
  <mat-button-toggle value="green card">Green Card</mat-button-toggle>
  <mat-button-toggle value="path to citizenship">Citizenship</mat-button-toggle>
  <mat-button-toggle value="USCIS">USCIS</mat-button-toggle>
  <mat-button-toggle value="H1B">H1B</mat-button-toggle>
  <mat-button-toggle value="OPT -opt-out">OPT</mat-button-toggle>
</mat-button-toggle-group>

