<mat-button-toggle-group class="selectNewsKeyword" [(value)]="channel" (valueChange)="changeChannel()">
  <mat-button-toggle value="all topics">All</mat-button-toggle>
  <mat-button-toggle value="green card">Green Card</mat-button-toggle>
  <mat-button-toggle value="uscis">USCIS</mat-button-toggle>
  <mat-button-toggle value="h1b">H1B</mat-button-toggle>
</mat-button-toggle-group>

<mat-button-toggle-group class="selectNewsScoring" [(value)]="scoring" (valueChange)="changeChannel()">
  <mat-button-toggle value="new">New</mat-button-toggle>
  <mat-button-toggle value="top">Top</mat-button-toggle>
</mat-button-toggle-group>

<div class="fb-like" data-href="https://www.facebook.com/immimedia/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
