@import "../../../../css/import/_component_import.scss";

:host ::ng-deep  .mat-button-toggle-label-content {
  color: mat-color($on-surface)!important;
  padding: 0px 8px!important;
}

:host ::ng-deep  .mat-button-toggle-label-content:hover {
  background-color: mat-color($surface-hover)!important;
}


.mat-button-toggle-group {
  margin: 5px!important;
}

:host ::ng-deep .mat-button-toggle-checked .mat-button-toggle-label-content {
  color: mat-color($on-primary)!important;
}

.selectNewsKeyword .mat-button-toggle-checked{
  background-color: mat-color($candy-app-primary) !important;
}

.selectNewsScoring .mat-button-toggle-checked{
  background-color: mat-color($candy-app-accent) !important;
}
