<floating-action-button [action]="'add'" (click)="writingPost=true" *ngIf="!writingPost" id="test_addPost"></floating-action-button>

<mat-card (click)="writingPost=true" *ngIf="writingPost">
  <mat-form-field id="postInput">
    <textarea
      matInput
      [(ngModel)]="postContent"
      placeholder="Your comment..."
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="16"
      id="test_postContentInput"
    ></textarea>
  </mat-form-field>

  Posting as
  <mat-form-field class="userName">
    <input matInput placeholder="Your name" [(ngModel)]="userName" id="test_userName">
  </mat-form-field>

  <button mat-raised-button color="accent" id="sendPost" (click)="submitPost()">Send</button>
  <div class="clearfix"></div>
</mat-card>
