<floating-action-button [icon]="'reply'" [color]="'accent'" (click)="writingPost=true" *ngIf="!writingPost" id="test_addPost" [tooltip]="'Reply'"></floating-action-button>

<mat-card (click)="writingPost=true" *ngIf="writingPost">

  <close-button (click)="writingPost=false"></close-button>

  <div class="clearfix"></div>

  <app-ngx-editor [config]="ngxEditorConfig" [(ngModel)]="post.content"></app-ngx-editor>
  <br>
  Posting as
  <mat-form-field class="post.userName">
    <input matInput placeholder="Your name" [(ngModel)]="post.userName" id="test_userName">
  </mat-form-field>

  <button mat-raised-button color="accent" id="sendPost" (click)="submitPost()" [disabled]="!canSend()">Send</button>
  <div class="clearfix"></div>
</mat-card>

