@import "../../../../css/import/_component_import.scss";

$comment-background: mat-color(mat-palette($mat-gray, 200));

.commentInputWrapper {
  background-color: $comment-background;
  padding: 10px 20px;
  mat-form-field {
    width: 100%;
  }
}

.userName {
  display: inline-block;
  width: 220px!important;
  zoom: 0.9;
}


.beTheFirstToComment {
  color: mat-color($imm-accent);
}

.expressYourself{
  padding-right: 80px;
}

.savePost{
  position: relative;
  top: 20px;

  @media(max-width: 440px) {
    top: 30px;
  }
}
