<mat-card class="commentInputWrapper">
  <p *ngIf="commentsCount===0">Be the first to comment</p>
  <mat-form-field class="example-full-width">
    <textarea [(ngModel)]="comment.commentBody" minRows="4" matInput placeholder="Your comment..."></textarea>
  </mat-form-field>

  <button [disabled]="comment?.commentBody?.length==0" (click)="postComment()" mat-raised-button color="accent" class="float-right">Post</button>

  Posting as
  <mat-form-field class="userName">
    <input matInput placeholder="Name" [(ngModel)]="comment.userName" >
  </mat-form-field>
  <div class="clearfix"></div>

</mat-card>
