<div id="header">
  <h1 id="main_heading" class="center">
    <i class="material-icons">star</i>
    <span class="primary-color">Immigration</span>
    in
    <span class="accent-color">Media</span>
    <i class="material-icons">star</i>
  </h1>
  <div class="center">
    <h2 id="sub_heading">Latest <strong>US immigration news</strong>. Stay up to date...
      <div class="fb-like" data-href="https://www.facebook.com/immimedia/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
    </h2>
  </div>
</div>

<div class="main_content_wrapper" id="content">
  <router-outlet></router-outlet>
</div>

<div id="footer">
  <a href="http://www.codehouse.tech/" target="_blank" id="code-house-link">
    <img id="code-house-logo" src="/assets/img/code-house.png">
    <br>
    Provided by Code House, LLC | 2018<br>
    <small>Creating awesome websites!</small>
  </a>
</div>

