#sub_heading strong {
  font-weight: 500!important;
}

#footer {
  background-color: #0000001a;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #00000026;
}


#code-house-logo {
  width: 70px;
}



a {
  text-decoration: none!important;
  color: black!important;
}

#footer {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

#code-house-link:hover {
  text-shadow: 0 0 20px black;
}

.fb-like {
  margin-left: 5px;
}

#main_heading {
  font: 100 35px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 25px!important;
  margin-bottom: 10px!important;
}

#sub_heading {
  font: 200 18px/20px Roboto, "Helvetica Neue", sans-serif!important;
}

#main_content_wrapper {
  max-width: 900px;
  margin: auto;
}
