#sub_heading strong {
  font-weight: 500!important;
}

#footer {
  background-color: #0000001a;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #00000026;
}


#code-house-logo {
  width: 70px;
}



a {
  text-decoration: none!important;
  color: black!important;
}

#footer {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

#code-house-link:hover {
  text-shadow: 0 0 20px black;
}

