<div id="main_content_wrapper">
  <h1 id="main_heading" class="center">
    <i class="material-icons">star</i>
    <span class="primary-color">Immigration</span>
    in
    <span class="accent-color">Media</span>
    <i class="material-icons">star</i>
  </h1>
  <div class="center"><h2 id="sub_heading">Latest <strong>US immigration news</strong>. Stay up to date...
    <div class="fb-like" data-href="https://www.facebook.com/immimedia/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
  </h2></div>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</div>

<div id="footer">
  <a href="http://www.codehouse.tech/" target="_blank" id="code-house-link">
    <!--<img id="code-house-logo" src="/house-architect.png">-->
    <br>
    Created with love by Code House, LLC <small>&#169; 2018</small><br>
    <small>Website & Web Application Consulting</small>
    <br><br>
    Contact us to do business together...
    <i class="material-icons">
      thumb_up_alt
    </i>
  </a>
</div>

