<div id="header">
  <nav>
    <a class="nav-link primary-color" [routerLink]="['/forum']" >Forum</a>
    <a class="nav-link primary-color" [routerLink]="['/']" >News</a>
  </nav>
  <a [routerLink]="['/']">
    <h1 id="main_heading" class="">
      <span class="primary-color">Immigration</span>
      in
      <span class="accent-color">Media</span>
    </h1>
  </a>

</div>

<div class="main_content_wrapper" id="content">
  <mat-spinner *ngIf="navigatingRoute" class="center-box"></mat-spinner>
  <router-outlet></router-outlet>
</div>

<div id="footer">
  <a href="http://www.codehouse.tech/" target="_blank" id="code-house-link" rel="noopener">
    <img id="code-house-logo" src="/assets/img/code-house.png" alt="Code House, LLC - Logo">
    <br>
    Provided by Code House, LLC | 2018<br>
    <small>Creating awesome websites!</small>
  </a>
</div>

