@import "../../../../css/import/_component_import.scss";


#channelSelectWrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  @media(min-width: 1024px){
      margin-top: 10px;
      margin-bottom: 10px;
  }
}

#sub_heading {
  font: 200 18px/20px Roboto, "Helvetica Neue", sans-serif!important;
}
