@import "../../../../css/import/_component_import.scss";


#channelSelectWrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  @media(min-width: 1024px){
      margin-top: 10px;
      margin-bottom: 10px;
  }
}


#forum_header_link{
  margin-left: 10px;
  position: relative;
  top: -2px;
  left: 5px;
  &:hover {
    background-color: mat-color($accent-hover);
  }
}
