.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix{
  clear: both;
}

.text-right {
  text-align: right;
}
.center {
  text-align: center;
}

.quiet {
  opacity: 0.7;
}

#main_heading {
  font: 100 35px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 25px!important;
  margin-bottom: 10px!important;
}

.mat-body, .mat-body-1, .mat-typography {
  font: 200 18px/20px Roboto, "Helvetica Neue", sans-serif!important;
}

#main_content_wrapper {
  max-width: 900px;
  margin: auto;
}

.mat-button-toggle-label-content {
  color: black;
}

.mat-button-toggle-checked{
  background-color: #1565c0 !important;
}

.mat-button-toggle-checked .mat-button-toggle-label-content {
  color: white!important;
}
