.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix{
  clear: both;
}

.text-right {
  text-align: right;
}
.center {
  text-align: center;
}

.quiet {
  opacity: 0.7;
}

.flip {
  transform: scaleX(-1);
}
