@import "../../../../css/import/_component_import.scss";

.thread {
  margin: 10px 0px;
}

.threadName{
  font-weight: 500;
}

mat-card{
  position: relative;
  display: block;
  background-color: $add-post-bg;
}

a:hover {
  text-decoration: underline;
}
hr {
  border: 0;
  height: 1px;
  background: mat-color(mat-palette($mat-gray, 500));
  margin: 20px -10px 18px;
}



