<mat-card *ngIf="thread" class="thread">
  <info-property-list>
    <info-property [propertyName]="'Posts'">{{thread.postsCount}}</info-property>
    <info-property [propertyName]="'Views'">{{thread.views}}</info-property>
    <info-property [propertyName]="'Last Post'">{{thread.lastPostDate | date}}</info-property>
    <info-property [propertyName]="'Likes'">{{thread.likes}}</info-property>
  </info-property-list>

  <div class="threadName">
    <a [routerLink]="['/forum/thread/view/',thread.id]">
      {{thread.title}}
    </a>
  </div>


</mat-card>
