@import "../theme.scss";


$on-primary: mat-palette($mat-gray, 50);
$on-accent:  mat-palette($mat-gray, 50);

$background:  mat-palette($mat-gray, 50);
$on-background: mat-palette($mat-gray, 900);
$surface:  mat-palette($mat-gray, 50);
$on-surface: mat-palette($mat-gray, 900);
