@import "../theme.scss";


$primary-hover: mat-palette($mat-blue, 900);

$on-primary: mat-palette($mat-gray, 50);
$on-accent:  mat-palette($mat-gray, 50);

$background:  mat-palette($mat-gray, 50);
$on-background: mat-palette($mat-gray, 900);

$surface:  mat-palette($mat-gray, 50);
$surface-hover: mat-palette($mat-gray, 300);
$on-surface: mat-palette($mat-gray, 900);
