@import "../../../../css/import/_component_import.scss";

$comment-background: mat-color(mat-palette($mat-gray, 200));

.userComment {
  background-color: $comment-background;
}

.commentTime{
  font-size: 12px;
}
