<floating-action-button [action]="'add'" (click)="writingPost=true" *ngIf="!writingPost" id="test_newThread"></floating-action-button>

<mat-card (click)="writingPost=true" *ngIf="writingPost">

  <mat-form-field class="full-width">
    <input matInput placeholder="Title" [(ngModel)]="thread.title"  id="test_threadTitleInput">
  </mat-form-field>

  <app-ngx-editor [config]="ngxEditorConfig" [(ngModel)]="thread.content"></app-ngx-editor>

  <br>

  Posting as
  <mat-form-field class="post.userName">
    <input matInput placeholder="Your name" [(ngModel)]="thread.userName" id="test_userName">
  </mat-form-field>

  <button mat-raised-button color="accent" id="sendPost" class="float-right" (click)="submitThread()" [disabled]="!canSubmit()">Send</button>
  <div class="clearfix"></div>
</mat-card>
