strong {
  font-weight: 500!important;
}

#exampleAd{
  width: 100%;
}

.blue_section {
  background-color: #1565c0;
  color: white;
}

#users {
  float: right;
  width: 50%;
}

mat-form-field {
  width: 60%;
}
