<a [href]="newsItem.url" target="_blank" title="{{newsItem.title}}" rel="noopener" itemprop="url" (click)="tagManager(newsItem)">
  <mat-card  itemscope itemtype="http://schema.org/NewsArticle" class="newsItem">
    <div class="newsItemThubnail float-right text-right">
      <img *ngIf="newsItem.img" [src]="newsItem.img" class="" alt="thumbnail" itemprop="thumbnailUrl image">

      <div *ngIf="!newsItem.img" class="empty_thumbnail center">
        <i class="material-icons flip">
          message
        </i>
      </div>
      <div itemprop="publisher" itemscope  itemtype="http://schema.org/Organization"><span itemprop="name">{{newsItem.source}}</span></div>
      <div class="quiet" itemprop="datePublished">
        {{newsItem.dateDiff}}
      </div>
    </div>
    <div>
        <span itemprop="headline">{{newsItem.title}}</span>
    </div>
    <div class="clearfix"></div>
  </mat-card>
</a>
