<mat-card  itemscope itemtype="http://schema.org/NewsArticle">

  <div class="newsItemThubnail float-right text-right">
    <a [href]="newsItem.url" target="_blank" rel="external" title="{{newsItem.title}}" rel="noopener" itemprop="url">
      <img *ngIf="newsItem.img" [src]="newsItem.img" class="" alt="thumbnail" itemprop="thumbnailUrl image">

      <div *ngIf="!newsItem.img" class="empty_thumbnail center">
        <i class="material-icons">
          message
        </i>
      </div>

    </a>
    <div itemprop="publisher" itemscope  itemtype="http://schema.org/Organization"><span itemprop="name">{{newsItem.source}}</span></div>
    <div class="quiet" itemprop="datePublished">
      {{newsItem.dateDiff}}
    </div>
  </div>

  <div>
    <a [href]="newsItem.url" target="_blank" rel="external" title="{{newsItem.title}}" rel="noopener" itemprop="url">
      <span itemprop="headline">{{newsItem.title}}</span>
    </a>
  </div>

  <div class="clearfix"></div>
</mat-card>
<br>
