@import "../../../../css/import/_component_import.scss";

:host {
  position: relative;
  display: block;
  min-height: 30px;
  font-size: 17px;
}

.commentWrapperContent{
  position: relative;
  //top: 0px;
  z-index: 10;
}


.showHideComments{
  z-index: 5;
  position: absolute;
  right: 0px;
}

.closeComments {
  position: absolute;
  z-index: 15;
  right: 9px;
  top: 9px;
}
