<button (click)="showHideComments()" mat-button color="primary" class="showHideComments"> {{commentsCount | async}} comments</button>
<div *ngIf="commentsVisible" class="commentWrapperContent">
  <button mat-button color="accent" class="closeComments" (click)="showHideComments()">Close</button>
  <comment-list [articleId]="articleId" [commentsCount]="commentsCount"></comment-list>
  <comment-input [articleId]="articleId" [commentsCount]="commentsCount" (commentPosted)="reloadComments()"></comment-input>
</div>
<div class="clearfix"></div>
